<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feed Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="feed">
    <h1>Your friends post  :</h1>
    <div th:if="${followingFriends.size()==0}">
        <p>You are not Following any users, therefore no feeds</p>
    </div>

    <div th:if="${followingFriends.size() > 0}">
        <ul>
            <li th:each="p:${followingFriends}">
                <a th:href="'/friends/'+${p.id}">
                    <p th:text="${p.firstName}+ ' '+ ${p.lastName}"></p>
                </a>
                <p th:text="${p.dateOfBirth}"></p>
                <p th:text="${p.bio}"></p>

                <ul>
                    <li th:each="post: ${p.posts}">
                        <p th:text="${post.body}">   Created At: <span th:text="${post.createdAt}"></span> </p>
                    </li>
                </ul>

            </li>
        </ul>
    </div>
</div>
</body>

</html>