<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/styleProfile.css">

</head>
<body>
<div class="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_AG5ARtLnwl0DMyWqBsIdsX2lvoDhetRg-g&usqp=CAU" alt="">
    <h2>Welcome to <span th:text="${user.username}"/>'s profile ....</h2>
    <h2>full Name : <span th:text="${user.firstName}"/>
        -<span th:text="${user.lastName}"/></h2>
    <h2>dateOfBirth : <span th:text="${user.dateOfBirth}"/></h2>
    <h2>Bio <span th:text="${user.bio}"/></h2>
    <h2>Bio <span th:text="${user.id}"/></h2>
</div>


<div class="bodyclass" th:each="post : ${user.posts}">
    <h3 th:text="${post.body}"> this is the body: </h3>

</div>
<p class="p">List of other users:</p>

<div class="list">

    <ul class="friends">
<!--    <li  th:each="val : ${allUsers}">-->
        <form method="POST" action="/AddFriend" >
            <input name="id" type="hidden" th:value="${user.id}">
            <input name="friend" type="hidden" th:value="${userme.id}">
<!--         <h1>   </h1>-->
<!--            <span "${user.lastName}">sss</span>-->
<!--            <span "${user.username}">sss</span>-->
            <button  type="submit" >follwo</button>
        </form>
        <a th:href="@{/friends/} + ${user.id}">
            <span th:text="${user.username}"></span><br>

        </a>
    </li>
</ul>
</div>
</body>
</html>